# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/You need to find following details:

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [10]:
url = ("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")
driver.get(url)

In [12]:
link = driver.find_element_by_xpath("//span[@class = 'plainlinks']")
link.click()

In [13]:
link2 = driver.find_element_by_xpath("//div[@class ='mw-search-result-heading']")
link2.click()

In [20]:
rank = driver.find_elements_by_xpath("//th[@title ='Sort ascending']")
rank

[<selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="e02dfcef-6d11-4d37-985a-0556bd349860")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="8aed39dd-d6d8-4a78-aae0-7554229e2303")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="24a4a197-0e3f-4d28-ae1e-f4d1c99a66e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="4a881ec0-8e92-4d3f-9958-0d551f6447be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="084d85d0-34ba-4f4b-b576-2689816acd09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="b17ea584-6a04-4032-866b-a45257c1d318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="362ea17a-507e-40e7-a187-f7601e5769e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="78a9534a-3b0b-4102-ba40-0c8a0dc8aae7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="4f87eb33-cc1a-47d5-949c-469881b925b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="5f6cc662-7efb-43f2-9865-b4a1b9055889")>,
 <selenium.webdriver.remote.webelement.WebElement (session="9a27ad7c908f83e1e80143162a4a71ea", element="e38e5eb3-9058-47a1-adc9-e742ffdcca36")>]

In [21]:
Rank =[]
for i in rank:
    Rank.append(i.text)
Rank

['No.',
 'Video name',
 'Uploader',
 'Views (billions)',
 'Upload date',
 'Video name',
 'Uploader',
 'Views*',
 'Upload date',
 'Date achieved',
 'Days held']

In [26]:
name = driver.find_elements_by_xpath("//a[@class ='mw-redirect']")
Name =[]
for i in name:
    Name.append(i.text)
Name

['music videos',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Cocomelon â€“ Nursery Rhymes',
 'Cocomelon â€“ Nursery Rhymes',
 'Cocomelon â€“ Nursery Rhymes',
 'The Gummy Bear Song',
 'Fueled By Ramen',
 'The Gummy Bear Song',
 'Osito Gominola â€“ Full Spanish Version â€“ The Gummy Bear Song',
 'Baby Shark Dance',
 'Johny Johny Yes Papa',
 'Closer',
 'Cocomelon â€“ Nursery Rhymes',
 'Cocomelon â€“ Nursery Rhymes',
 'Baby Shark Dance',
 'List of most-viewed online trailers in the first 24 hours',
 'regional restrictions',
 'regional restrictions',
 'Wired',
 '',
 '',
 '',
 '']

In [33]:
artist = driver.find_elements_by_xpath("//a[@title = 'Pinkfong']")
Artist = []
for i in artist:
    Artist.append(i.text)
Artist

['Pinkfong',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 'Pinkfong',
 "Pinkfong Baby Shark - Kids' Songs & Stories"]

In [38]:
date = driver.find_elements_by_xpath("//td[@align = 'right']")
Date =[]
for i in date:
    Date.append(i.text)
Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'March 6, 2014',
 'July 15, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'August 18, 2014',
 'July 25, 2012',
 'June 16, 2009',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'October 22, 2015',
 '7,037,500,000',
 'June 17, 2016',
 'November 2, 2020',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '1',
 'April 23, 2005',
 'April 23, 2005']

In [41]:
views = driver.find_elements_by_xpath("//td[@align= 'center']")
View = []
for i in views:
    View.append(i.text)
View

['1.',
 '9.46',
 '[B]',
 '2.',
 '7.57',
 '[C]',
 '3.',
 '5.78',
 '[D]',
 '4.',
 '5.48',
 '[E]',
 '5.',
 '5.29',
 '[F]',
 '6.',
 '4.55',
 '[G]',
 '7.',
 '4.52',
 '[H]',
 '8.',
 '4.46',
 '[I]',
 '9.',
 '4.32',
 '[J]',
 '10.',
 '4.22',
 '11.',
 '4.21',
 '[K]',
 '12.',
 '3.63',
 '13.',
 '3.57',
 '14.',
 '3.47',
 '15.',
 '3.45',
 '16.',
 '3.41',
 '17.',
 '3.34',
 '18.',
 '3.29',
 '19.',
 '3.16',
 '20.',
 '3.16',
 '21.',
 '3.14',
 '22.',
 '3.11',
 '23.',
 '3.11',
 '24.',
 '3.10',
 '25.',
 '3.09',
 '26.',
 '3.04',
 '27.',
 '2.99',
 '28.',
 '2.98',
 '29.',
 '2.96',
 '30.',
 '2.89',
 '',
 '',
 '[57]',
 '[L]',
 '[29]',
 '[37]',
 '[M]',
 '[59]',
 '[N]',
 '93',
 '[63]',
 '[O]',
 '171',
 '[67]',
 '176',
 '[69]',
 '289',
 '[72]',
 '124',
 '[73]',
 '14',
 '[75]',
 '[P]',
 '[78]',
 '[Q]',
 '68',
 '[80]',
 '[R]',
 '22',
 '[85]',
 '28',
 '[87]',
 '[S]',
 '12',
 '[89]',
 '[91]',
 '[T]',
 '[94]',
 '[96]']

In [43]:
viewed_video = pd.DataFrame({})
viewed_video['Rank'] = Rank[:4]
viewed_video['Name'] = Name[:4]
viewed_video['Artist'] = Artist[:4]
viewed_video['Date'] = Date[:4]
viewed_video['Views'] = View[:4]

viewed_video

,Rank,Name,Artist,Date,Views
0,No.,music videos,Pinkfong,"June 17, 2016",1.
1,Video name,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"January 12, 2017",9.46
2,Uploader,Baby Shark Dance,Pinkfong,"October 8, 2016",[B]
3,Views (billions),Johny Johny Yes Papa,Pinkfong Baby Shark - Kids' Songs & Stories,"January 30, 2017",2.

# Q2. Scrape the details team Indiaâ€™s international fixtures from bcci.tv.Url = https://www.bcci.tv/.

In [44]:
url = ("https://www.bcci.tv/")
driver.get(url)

In [47]:
icon = driver.find_element_by_xpath("//div[@class ='navigation__drop-down drop-down drop-down--reveal-on-hover']")
icon.click()

drop = driver.find_element_by_xpath("//div[@class ='drop-down__options']")
drop.click()

In [49]:
match = driver.find_elements_by_xpath("//span[@class ='u-unskewed-text fixture__format']")
Match =[]
for i in match:
    Match.append(i.text)
Match

['T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'ODI',
 'ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'T20I']

In [51]:
series = driver.find_elements_by_xpath("//span[@class ='u-unskewed-text fixture__tournament-label u-truncated']")
Series =[]
for i in series:
    Series.append(i.text)
Series

["2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022']

In [52]:
len(Series)

20

In [53]:
place = driver.find_elements_by_xpath("//p[@class ='fixture__additional-info']")
Place =[]
for i in place:
    Place.append(i.text)
Place

['Match 16\nDubai International Stadium, Dubai',
 'Match 28\nDubai International Stadium, Dubai',
 'Match 33\nZayed Cricket Stadium, Abu Dhabi',
 'Match 37\nDubai International Stadium, Dubai',
 'Match 42\nDubai International Stadium, Dubai',
 '1st T20I\nSawai Mansingh Stadium, Jaipur',
 '2nd T20I\nJSCA International Stadium Complex, Ranchi',
 '3rd T20I\nEden Gardens, Kolkata',
 '1st Test\nGreen Park, Kanpur',
 '2nd Test\nWankhede Stadium, Mumbai',
 '1st Test\nNew Wanderers Stadium, Johannesburg',
 '2nd Test\nSupersport Park, Centurion',
 '3rd Test\nNew Wanderers Stadium, Johannesburg',
 '1st ODI\nBoland Park, Paarl',
 '2nd ODI\nNewlands, Cape Town',
 '3rd ODI\nNewlands, Cape Town',
 '1st T20I\nNewlands, Cape Town',
 '2nd T20I\nNewlands, Cape Town',
 '3rd T20I\nBoland Park, Paarl',
 '4th T20I\nBoland Park, Paarl']

In [54]:
len(Place)

20

In [58]:
date = driver.find_elements_by_xpath("//div[@class ='fixture__full-date']")
Date = []
for i in date:
    Date.append(i.text.replace("\n", " "))
Date

['24 OCTOBER 19:30 IST',
 '31 OCTOBER 19:30 IST',
 '03 NOVEMBER 19:30 IST',
 '05 NOVEMBER 19:30 IST',
 '08 NOVEMBER 19:30 IST',
 '17 NOVEMBER 19:00 IST',
 '19 NOVEMBER 19:00 IST',
 '21 NOVEMBER 19:00 IST',
 '25 NOVEMBER 09:30 IST',
 '03 DECEMBER 09:30 IST',
 '17 DECEMBER 13:30 IST',
 '26 DECEMBER 13:30 IST',
 '03 JANUARY 13:30 IST',
 '11 JANUARY 14:00 IST',
 '14 JANUARY 14:00 IST',
 '16 JANUARY 14:00 IST',
 '19 JANUARY 19:30 IST',
 '21 JANUARY 19:30 IST',
 '23 JANUARY 19:30 IST',
 '26 JANUARY 19:30 IST']

In [59]:
len(Date)

20

In [60]:
time = driver.find_elements_by_xpath("//span[@class ='fixture__time']")
Time =[]
for i in time:
    Time.append(i.text)
Time

['19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST']

In [61]:
len(Time)

20

In [62]:
bcci = pd.DataFrame({})
bcci['Match Title'] = Match
bcci['Series'] = Series
bcci['Place'] = Place
bcci['Date'] = Date
bcci['Time'] = Time

bcci

,Match Title,Series,Place,Date,Time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Match 16\nDubai International Stadium, Dubai",24 OCTOBER 19:30 IST,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Match 28\nDubai International Stadium, Dubai",31 OCTOBER 19:30 IST,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Match 33\nZayed Cricket Stadium, Abu Dhabi",03 NOVEMBER 19:30 IST,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Match 37\nDubai International Stadium, Dubai",05 NOVEMBER 19:30 IST,19:30 IST
4,T20I,2021 ICC MEN'S T20 WORLD CUP,"Match 42\nDubai International Stadium, Dubai",08 NOVEMBER 19:30 IST,19:30 IST
5,T20I,INDIA V NEW ZEALAND 2021,"1st T20I\nSawai Mansingh Stadium, Jaipur",17 NOVEMBER 19:00 IST,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"2nd T20I\nJSCA International Stadium Complex, ...",19 NOVEMBER 19:00 IST,19:00 IST
7,T20I,INDIA V NEW ZEALAND 2021,"3rd T20I\nEden Gardens, Kolkata",21 NOVEMBER 19:00 IST,19:00 IST
8,TEST,INDIA V NEW ZEALAND 2021,"1st Test\nGreen Park, Kanpur",25 NOVEMBER 09:30 IST,09:30 IST
9,TEST,INDIA V NEW ZEALAND 2021,"2nd Test\nWankhede Stadium, Mumbai",03 DECEMBER 09:30 IST,09:30 IST
10,TEST,SOUTH AFRICA V INDIA 2021/2022,"1st Test\nNew Wanderers Stadium, Johannesburg",17 DECEMBER 13:30 IST,13:30 IST
11,TEST,SOUTH AFRICA V INDIA 2021/2022,"2nd Test\nSupersport Park, Centurion",26 DECEMBER 13:30 IST,13:30 IST
12,TEST,SOUTH AFRICA V INDIA 2021/2022,"3rd Test\nNew Wanderers Stadium, Johannesburg",03 JANUARY 13:30 IST,13:30 IST
13,ODI,SOUTH AFRICA V INDIA 2021/2022,"1st ODI\nBoland Park, Paarl",11 JANUARY 14:00 IST,14:00 IST
14,ODI,SOUTH AFRICA V INDIA 2021/2022,"2nd ODI\nNewlands, Cape Town",14 JANUARY 14:00 IST,14:00 IST
15,ODI,SOUTH AFRICA V INDIA 2021/2022,"3rd ODI\nNewlands, Cape Town",16 JANUARY 14:00 IST,14:00 IST
16,T20I,SOUTH AFRICA V INDIA 2021/2022,"1st T20I\nNewlands, Cape Town",19 JANUARY 19:30 IST,19:30 IST
17,T20I,SOUTH AFRICA V INDIA 2021/2022,"2nd T20I\nNewlands, Cape Town",21 JANUARY 19:30 IST,19:30 IST
18,T20I,SOUTH AFRICA V INDIA 2021/2022,"3rd T20I\nBoland Park, Paarl",23 JANUARY 19:30 IST,19:30 IST
19,T20I,SOUTH AFRICA V INDIA 2021/2022,"4th T20I\nBoland Park, Paarl",26 JANUARY 19:30 IST,19:30 IST

# 3. Scrape the details of selenium exception from guru99.com.Url = https://www.guru99.com/

In [63]:
url = ("https://www.guru99.com/")
driver.get(url)

In [66]:
name = driver.find_elements_by_xpath("//h4[@class= 'kt-blocks-info-box-title']")
Name = []
for i in name:
    Name.append(i.text)
Name

['PractiTest',
 'apilayer',
 'Kobiton',
 'Selenium',
 'SAP',
 'China Firewall Test',
 'Python',
 'Ethical Hacking',
 'Java',
 'Big Data',
 'Linux',
 'Informatica']

In [69]:
description =driver.find_elements_by_xpath("//table[@class = 'table']")
Description =[]
for i in description:
    Description.append(i.text)
Description

['ðŸ‘‰ Lesson 1 What is TensorFlow? How it Works? â€” Introduction & Architecture\nðŸ‘‰ Lesson 2 How to Download & Install TensorFLow â€” Jupyter | Windows/Mac\nðŸ‘‰ Lesson 3 Jupyter Notebook Tutorial â€” How to Install & use Jupyter?\nðŸ‘‰ Lesson 4 TensorFlow Basics â€” Tensor, Shape, Type, Sessions & Operators',
 'ðŸ‘‰ Lesson 1 TensorBoard Tutorial â€” TensorFlow Graph Visualization [Example]\nðŸ‘‰ Lesson 2 Python Pandas Tutorial â€” DataFrame, Date Range, Use of Pandas\nðŸ‘‰ Lesson 3 Import CSV Data â€” Import CSV Data using Pandas.read_csv()\nðŸ‘‰ Lesson 4 Linear Regression with TensorFlow â€” Learn with Example\nðŸ‘‰ Lesson 5 Linear Regression with Facet & Interaction Term â€” Learn with Example\nðŸ‘‰ Lesson 6 Binary Classification in TensorFlow â€” Linear Classifier Example\nðŸ‘‰ Lesson 7 Gaussian Kernel in Machine Learning â€” Kernel Methods Examples\nðŸ‘‰ Lesson 8 Artificial Neural Network (ANN) â€” TensorFlow Example Tutorial\nðŸ‘‰ Lesson 9 TensorFlow CNN Image Classification â€” Learn with Steps & Examples\nðŸ‘‰ Lesson 10 TensorFlow Autoencoder â€” Dataset with Deep Learning Example\nðŸ‘‰ Lesson 11 RNN (Recurrent Neural Network) Tutorial â€” TensorFlow Example\nðŸ‘‰ Lesson 12 PySpark Tutorial for Beginners â€” Learn with EXAMPLES\nðŸ‘‰ Lesson 13 Scikit-Learn Tutorial â€” How to Install, Python Scikit-Learn Example\nðŸ‘‰ Lesson 14 Python NumPy Tutorial â€” np.zeros, np.arange, vstack and hstack',
 'ðŸ‘‰ Lesson 1 TensorFlow Books â€” 10 BEST TensorFlow Books\nðŸ‘‰ Lesson 2 Tensorflow Tutorial PDF â€” Download Tensorflow Tutorial PDF for Beginners']

In [71]:
guru = pd.DataFrame({})

guru['Name'] = Name[:3]
guru['Description'] = Description[:3]
guru

         Name                                        Description
0  PractiTest  ðŸ‘‰ Lesson 1 What is TensorFlow? How it Works? â€”...
1    apilayer  ðŸ‘‰ Lesson 1 TensorBoard Tutorial â€” TensorFlow G...
2     Kobiton  ðŸ‘‰ Lesson 1 TensorFlow Books â€” 10 BEST TensorFl...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.Url = http://statisticstimes.com/

In [3]:
url = ("http://statisticstimes.com/")
driver.get(url)

In [6]:
button = driver.find_element_by_xpath("//a[@class ='ec']")
button.click()

In [7]:
rank = driver.find_elements_by_xpath("//td[@class ='data1']")
Rank= []
for i in rank:
    Rank.append(i.text)
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '']

In [8]:
len(Rank)

68

In [9]:
state = driver.find_elements_by_xpath("//td[@class ='name']")
State = []
for i in state:
    State.append(i.text)
State

['Mizoram',
 'Tripura',
 'Gujarat',
 'Karnataka',
 'Haryana',
 'Delhi',
 'Telangana',
 'Sikkim',
 'Uttarakhand',
 'Chandigarh',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Assam',
 'Odisha',
 'Himachal Pradesh',
 'Tamil Nadu',
 'Maharashtra',
 'Rajasthan',
 'Uttar Pradesh',
 'Kerala',
 'Bihar',
 'Arunachal Pradesh',
 'Jharkhand',
 'Manipur',
 'Punjab',
 'Chhattisgarh',
 'Jammu & Kashmir',
 'Goa',
 'Nagaland',
 'West Bengal',
 'Puducherry',
 'Meghalaya',
 'Andaman & Nicobar Islands',
 'India',
 'Mizoram',
 'Gujarat',
 'Tripura',
 'Haryana',
 'Karnataka',
 'Uttarakhand',
 'Telangana',
 'Delhi',
 'Himachal Pradesh',
 'Sikkim',
 'Madhya Pradesh',
 'Chandigarh',
 'Andhra Pradesh',
 'Odisha',
 'Assam',
 'Tamil Nadu',
 'Maharashtra',
 'Kerala',
 'Uttar Pradesh',
 'Rajasthan',
 'Jharkhand',
 'Manipur',
 'Bihar',
 'Punjab',
 'Arunachal Pradesh',
 'Goa',
 'Nagaland',
 'Chhattisgarh',
 'West Bengal',
 'Jammu & Kashmir',
 'Puducherry',
 'Meghalaya',
 'Andaman & Nicobar Islands',
 'India']

In [10]:
len(State)

68

In [11]:
gsdp = driver.find_elements_by_xpath("//td[@class ='data']")
GSDP =[]
for i in gsdp:
    GSDP.append(i.text)
GSDP

['14.07',
 '11.63',
 '18.91',
 '14.97',
 '17.56',
 '9.79',
 '11.69',
 '12.32',
 '14.02',
 '14.66',
 '-',
 '9.19',
 '-',
 '13.08',
 '13.61',
 '5.95',
 '6.67',
 '9.30',
 '11.68',
 '13.77',
 '7.75',
 '7.49',
 '13.27',
 '13.02',
 '13.79',
 '7.42',
 '7.71',
 '10.48',
 '12.82',
 '12.31',
 '8.23',
 '9.53',
 '12.61',
 '14.33',
 '13.30',
 '6.92',
 '5.94',
 '13.13',
 '10.60',
 '14.56',
 '-',
 '6.87',
 '-',
 '10.35',
 '11.44',
 '-',
 '7.39',
 '-',
 '14.22',
 '12.27',
 '7.62',
 '5.77',
 '11.99',
 '11.71',
 '14.48',
 '8.16',
 '4.45',
 '12.73',
 '8.80',
 '12.49',
 '-',
 '6.42',
 '-',
 '11.55',
 '11.99',
 '5.21',
 '4.23',
 '6.86',
 '10.64',
 '11.37',
 '5.56',
 '7.10',
 '7.56',
 '11.20',
 '11.31',
 '8.03',
 '7.95',
 '13.23',
 '11.27',
 '11.71',
 '-',
 '5.99',
 '-',
 '10.50',
 '10.87',
 '5.05',
 '6.97',
 '8.32',
 '12.86',
 '11.69',
 '3.81',
 '6.26',
 '6.50',
 '11.92',
 '11.86',
 '-',
 '7.46',
 '-',
 '11.41',
 '11.54',
 '10.47',
 '9.27',
 '15.36',
 '13.15',
 '11.55',
 '-',
 '4.59',
 '-',
 '9.68',
 '12.26',
 '6.69',
 '6.84',
 '10.56',
 '10.15',
 '10.40',
 '7.11',
 '2.93',
 '14.07',
 '8.07',
 '11.73',
 '5.33',
 '5.98',
 '9.19',
 '11.80',
 '10.22',
 '5.32',
 '7.06',
 '8.26',
 '10.95',
 '9.88',
 '-',
 '6.08',
 '-',
 '12.01',
 '10.45',
 '9.73',
 '9.75',
 '9.95',
 '5.51',
 '8.93',
 '-',
 '7.05',
 '-',
 '11.40',
 '12.27',
 '7.26',
 '6.41',
 '15.04',
 '11.82',
 '11.17',
 '9.04',
 '3.30',
 '11.09',
 '7.17',
 '10.88',
 '8.16',
 '9.38',
 '9.23',
 '13.46',
 '7.76',
 '-',
 '-',
 '-',
 '-',
 '-',
 '4.04',
 '6.53',
 '6.95',
 '7.75',
 '10.51',
 '11.72',
 '15.78',
 '11.56',
 '16.60',
 '14.85',
 '18.64',
 '-',
 '9.55',
 '-',
 '13.42',
 '13.90',
 '9.60',
 '11.27',
 '12.03',
 '13.49',
 '14.53',
 '7.77',
 '7.46',
 '13.47',
 '13.23',
 '13.73',
 '5.96',
 '6.32',
 '9.28',
 '11.45',
 '13.59',
 '-',
 '6.81',
 '-',
 '10.47',
 '11.77',
 '8.25',
 '9.65',
 '12.72',
 '14.43',
 '13.37',
 '7.27',
 '7.58',
 '10.66',
 '13.50',
 '12.21',
 '5.55',
 '7.45',
 '7.32',
 '11.68',
 '11.96',
 '6.81',
 '5.05',
 '12.93',
 '10.10',
 '14.61',
 '7.55',
 '5.59',
 '12.19',
 '12.01',
 '14.77',
 '-',
 '6.61',
 '-',
 '13.72',
 '12.10',
 '8.18',
 '4.51',
 '12.79',
 '8.86',
 '12.55',
 '5.07',
 '3.52',
 '6.94',
 '10.32',
 '11.28',
 '-',
 '6.11',
 '-',
 '11.45',
 '11.86',
 '8.14',
 '7.96',
 '13.23',
 '11.18',
 '11.73',
 '-',
 '5.77',
 '-',
 '10.53',
 '10.99',
 '-',
 '7.55',
 '-',
 '11.82',
 '11.61',
 '3.74',
 '5.99',
 '6.48',
 '11.87',
 '11.79',
 '5.04',
 '7.07',
 '8.37',
 '12.92',
 '11.47',
 '6.76',
 '6.71',
 '10.75',
 '9.98',
 '10.53',
 '7.67',
 '2.12',
 '15.10',
 '7.50',
 '12.09',
 '10.80',
 '9.01',
 '15.60',
 '12.91',
 '11.44',
 '5.41',
 '5.95',
 '9.53',
 '11.85',
 '10.23',
 '-',
 '4.80',
 '-',
 '9.38',
 '12.07',
 '9.51',
 '10.20',
 '9.26',
 '5.07',
 '9.09',
 '-',
 '8.18',
 '-',
 '12.84',
 '12.86',
 '5.18',
 '6.80',
 '8.07',
 '10.71',
 '9.47',
 '7.69',
 '6.20',
 '15.59',
 '11.76',
 '11.25',
 '-',
 '5.05',
 '-',
 '11.38',
 '9.99',
 '8.56',
 '2.76',
 '10.85',
 '6.72',
 '11.12',
 '8.19',
 '9.09',
 '11.13',
 '11.69',
 '7.36',
 '-',
 '-',
 '-',
 '-',
 '-',
 '3.60',
 '6.36',
 '6.74',
 '7.72',
 '10.33',
 '11.70']

In [12]:
len(GSDP)

342

In [13]:
gsdp18 = driver.find_elements_by_xpath("//td[@class ='data']")
GSDP18 = []
for i in gsdp18:
    GSDP18.append(i.text)
GSDP18

['14.07',
 '11.63',
 '18.91',
 '14.97',
 '17.56',
 '9.79',
 '11.69',
 '12.32',
 '14.02',
 '14.66',
 '-',
 '9.19',
 '-',
 '13.08',
 '13.61',
 '5.95',
 '6.67',
 '9.30',
 '11.68',
 '13.77',
 '7.75',
 '7.49',
 '13.27',
 '13.02',
 '13.79',
 '7.42',
 '7.71',
 '10.48',
 '12.82',
 '12.31',
 '8.23',
 '9.53',
 '12.61',
 '14.33',
 '13.30',
 '6.92',
 '5.94',
 '13.13',
 '10.60',
 '14.56',
 '-',
 '6.87',
 '-',
 '10.35',
 '11.44',
 '-',
 '7.39',
 '-',
 '14.22',
 '12.27',
 '7.62',
 '5.77',
 '11.99',
 '11.71',
 '14.48',
 '8.16',
 '4.45',
 '12.73',
 '8.80',
 '12.49',
 '-',
 '6.42',
 '-',
 '11.55',
 '11.99',
 '5.21',
 '4.23',
 '6.86',
 '10.64',
 '11.37',
 '5.56',
 '7.10',
 '7.56',
 '11.20',
 '11.31',
 '8.03',
 '7.95',
 '13.23',
 '11.27',
 '11.71',
 '-',
 '5.99',
 '-',
 '10.50',
 '10.87',
 '5.05',
 '6.97',
 '8.32',
 '12.86',
 '11.69',
 '3.81',
 '6.26',
 '6.50',
 '11.92',
 '11.86',
 '-',
 '7.46',
 '-',
 '11.41',
 '11.54',
 '10.47',
 '9.27',
 '15.36',
 '13.15',
 '11.55',
 '-',
 '4.59',
 '-',
 '9.68',
 '12.26',
 '6.69',
 '6.84',
 '10.56',
 '10.15',
 '10.40',
 '7.11',
 '2.93',
 '14.07',
 '8.07',
 '11.73',
 '5.33',
 '5.98',
 '9.19',
 '11.80',
 '10.22',
 '5.32',
 '7.06',
 '8.26',
 '10.95',
 '9.88',
 '-',
 '6.08',
 '-',
 '12.01',
 '10.45',
 '9.73',
 '9.75',
 '9.95',
 '5.51',
 '8.93',
 '-',
 '7.05',
 '-',
 '11.40',
 '12.27',
 '7.26',
 '6.41',
 '15.04',
 '11.82',
 '11.17',
 '9.04',
 '3.30',
 '11.09',
 '7.17',
 '10.88',
 '8.16',
 '9.38',
 '9.23',
 '13.46',
 '7.76',
 '-',
 '-',
 '-',
 '-',
 '-',
 '4.04',
 '6.53',
 '6.95',
 '7.75',
 '10.51',
 '11.72',
 '15.78',
 '11.56',
 '16.60',
 '14.85',
 '18.64',
 '-',
 '9.55',
 '-',
 '13.42',
 '13.90',
 '9.60',
 '11.27',
 '12.03',
 '13.49',
 '14.53',
 '7.77',
 '7.46',
 '13.47',
 '13.23',
 '13.73',
 '5.96',
 '6.32',
 '9.28',
 '11.45',
 '13.59',
 '-',
 '6.81',
 '-',
 '10.47',
 '11.77',
 '8.25',
 '9.65',
 '12.72',
 '14.43',
 '13.37',
 '7.27',
 '7.58',
 '10.66',
 '13.50',
 '12.21',
 '5.55',
 '7.45',
 '7.32',
 '11.68',
 '11.96',
 '6.81',
 '5.05',
 '12.93',
 '10.10',
 '14.61',
 '7.55',
 '5.59',
 '12.19',
 '12.01',
 '14.77',
 '-',
 '6.61',
 '-',
 '13.72',
 '12.10',
 '8.18',
 '4.51',
 '12.79',
 '8.86',
 '12.55',
 '5.07',
 '3.52',
 '6.94',
 '10.32',
 '11.28',
 '-',
 '6.11',
 '-',
 '11.45',
 '11.86',
 '8.14',
 '7.96',
 '13.23',
 '11.18',
 '11.73',
 '-',
 '5.77',
 '-',
 '10.53',
 '10.99',
 '-',
 '7.55',
 '-',
 '11.82',
 '11.61',
 '3.74',
 '5.99',
 '6.48',
 '11.87',
 '11.79',
 '5.04',
 '7.07',
 '8.37',
 '12.92',
 '11.47',
 '6.76',
 '6.71',
 '10.75',
 '9.98',
 '10.53',
 '7.67',
 '2.12',
 '15.10',
 '7.50',
 '12.09',
 '10.80',
 '9.01',
 '15.60',
 '12.91',
 '11.44',
 '5.41',
 '5.95',
 '9.53',
 '11.85',
 '10.23',
 '-',
 '4.80',
 '-',
 '9.38',
 '12.07',
 '9.51',
 '10.20',
 '9.26',
 '5.07',
 '9.09',
 '-',
 '8.18',
 '-',
 '12.84',
 '12.86',
 '5.18',
 '6.80',
 '8.07',
 '10.71',
 '9.47',
 '7.69',
 '6.20',
 '15.59',
 '11.76',
 '11.25',
 '-',
 '5.05',
 '-',
 '11.38',
 '9.99',
 '8.56',
 '2.76',
 '10.85',
 '6.72',
 '11.12',
 '8.19',
 '9.09',
 '11.13',
 '11.69',
 '7.36',
 '-',
 '-',
 '-',
 '-',
 '-',
 '3.60',
 '6.36',
 '6.74',
 '7.72',
 '10.33',
 '11.70']

In [14]:
len(GSDP18)

342

In [15]:
gdp = pd.DataFrame({})
gdp['Rank'] = Rank[:68]
gdp['State'] = State[:68]
gdp['GSDP'] = GSDP[:68]
gdp['GSDP18-19'] = GSDP18[:68]
gdp

   Rank                      State   GSDP GSDP18-19
0     1                    Mizoram  14.07     14.07
1     2                    Tripura  11.63     11.63
2     3                    Gujarat  18.91     18.91
3     4                  Karnataka  14.97     14.97
4     5                    Haryana  17.56     17.56
..  ...                        ...    ...       ...
63   30            Jammu & Kashmir  11.55     11.55
64   31                 Puducherry  11.99     11.99
65   32                  Meghalaya   5.21      5.21
66   33  Andaman & Nicobar Islands   4.23      4.23
67                           India   6.86      6.86

[68 rows x 4 columns]

# 5. Scrape the details of trending repositories on Github.com.Url = https://github.com/

In [16]:
url = ("https://github.com/")
driver.get(url)

In [17]:
title = driver.find_elements_by_xpath("//div[@class ='f4 text-normal']")
Title =[]
for i in title:
    Title.append(i.text)
Title

['vitalets/github-trending-repos',
 'mbadry1/Trending-Deep-Learning',
 'laowch/GithubTrends',
 'ophobe/trending',
 'QasimWani/LeetHub',
 'zhuowenli/githuber',
 'andygrunwald/TrendingGithub',
 'andygrunwald/go-trending',
 'ecrmnn/trending-github',
 'anitaa1990/Github-Trending-Repos']

In [22]:
len(Title)

10

In [18]:
desc = driver.find_elements_by_xpath("//p[@class ='mb-1']")
Desc = []
for i in desc:
    Desc.append(i.text)
Desc

['Track GitHub trending repositories in your favorite programming language by native GitHub notifications!',
 'Top 100 trending deep learning repositories sorted by the number of stars gained on a specific day.',
 "It's a GitHub Trending repositories Viewer with Material Design.",
 'Dataset of trending repositories on GitHub',
 'Automatically sync your leetcode solutions to your github account - top 5 trending GitHub repository',
 'Display Github Trending repositories on Chrome New Tab Extensions',
 'A twitter bot (@TrendingGithub) to tweet trending repositories and developers from GitHub',
 'Go library for accessing trending repositories and developers at Github.',
 'ðŸ“ˆ  Simple API for getting trending repositories on GitHub',
 'An Android App that lists the most trending repositories from Github.']

In [19]:
len(Desc)

10

In [20]:
count = driver.find_elements_by_xpath("//div[@class ='mr-3']")
Count =[]
for i in count:
    Count.append(i.text)
Count

['2.2k',
 'HTML',
 'Updated on Sep 7, 2020',
 '558',
 'Python',
 'MIT license',
 'Updated on Feb 2, 2020',
 '640',
 'Java',
 'Apache-2.0 license',
 'Updated on Jun 10, 2019',
 '58',
 'Updated on Aug 16, 2020',
 '759',
 'JavaScript',
 'MIT license',
 'Updated on Sep 4',
 '440',
 'JavaScript',
 'MPL-2.0 license',
 'Updated on Nov 17, 2020',
 '103',
 'Go',
 'MIT license',
 'Updated on Jun 22',
 '116',
 'Go',
 'MIT license',
 'Updated on Jul 12',
 '55',
 'TypeScript',
 'MIT license',
 'Updated on Oct 29, 2020',
 '57',
 'Java',
 'Updated on Jan 15, 2019']

In [21]:
len(Count)

36

In [23]:
language = driver.find_elements_by_xpath("//span[@itemprop = 'programmingLanguage']")
Language =[]
for i in language:
    Language.append(i.text)
Language

['HTML',
 'Python',
 'Java',
 'JavaScript',
 'JavaScript',
 'Go',
 'Go',
 'TypeScript',
 'Java']

In [24]:
len(Language)

9

In [25]:
github = pd.DataFrame({})
github['Title'] = Title[:9]
github['Description'] = Desc[:9]
github['Count'] = Count[:9]
github['Language_Used'] = Language[:9]

github

,Title,Description,Count,Language_Used
0,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...,2.2k,HTML
1,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...,HTML,Python
2,laowch/GithubTrends,It's a GitHub Trending repositories Viewer wit...,"Updated on Sep 7, 2020",Java
3,ophobe/trending,Dataset of trending repositories on GitHub,558,JavaScript
4,QasimWani/LeetHub,Automatically sync your leetcode solutions to ...,Python,JavaScript
5,zhuowenli/githuber,Display Github Trending repositories on Chrome...,MIT license,Go
6,andygrunwald/TrendingGithub,A twitter bot (@TrendingGithub) to tweet trend...,"Updated on Feb 2, 2020",Go
7,andygrunwald/go-trending,Go library for accessing trending repositories...,640,TypeScript
8,ecrmnn/trending-github,ðŸ“ˆ Simple API for getting trending repositorie...,Java,Java

# 6. Scrape the details of top 100 songs on billboard.com.Url = https://www.billboard.com/

In [26]:
url = ("https://www.billboard.com/")
driver.get(url)

In [27]:
browser = driver.find_elements_by_xpath

In [30]:
hot = driver.find_element_by_xpath("//li[@class ='header__subnav__item']")
hot.click()

In [31]:
song = browser("//span[@class ='chart-element__information__song text--truncate color--primary']")
Song =[]
for i in song:
    Song.append(i.text)
Song

['Stay',
 'Industry Baby',
 'Fancy Like',
 'Way 2 Sexy',
 'Bad Habits',
 'Good 4 U',
 'Kiss Me More',
 'Levitating',
 'Knife Talk',
 'Essence',
 'Shivers',
 'My Universe',
 'Need To Know',
 'Save Your Tears',
 'Heat Waves',
 "Beggin'",
 'Montero (Call Me By Your Name)',
 'You Right',
 "If I Didn't Love You",
 'Girls Want Girls',
 'Traitor',
 'Take My Breath',
 'Sharing Locations',
 'Chasing After You',
 'Pepas',
 'Thats What I Want',
 'Wockesha',
 'Cold Beer Calling My Name',
 'Happier Than Ever',
 'Fair Trade',
 'Deja Vu',
 'Cold Heart (PNAU Remix)',
 "Memory I Don't Mess With",
 'A-O-K',
 'Love Nwantiti (Ah Ah Ah)',
 'Intro (Hate On Me)',
 'Leave The Door Open',
 'Gyalis',
 'Peaches',
 'Leave Before You Love Me',
 'Love Again',
 'My Boy',
 'Buy Dirt',
 'Hurricane',
 'I Was On A Boat That Day',
 'Family Ties',
 'Meet Me At Our Spot',
 'Wild Side',
 'Late At Night',
 'Have Mercy',
 'You Should Probably Leave',
 'Whole Lotta Money',
 'Cold As You',
 'You Time',
 "Drunk (And I Don't Wanna Go Home)",
 'Baddest',
 "Thinking 'Bout You",
 'Butter',
 'Too Easy',
 'Hot',
 'Your Heart',
 'Woman',
 '2055',
 'No Friends In The Industry',
 'Champagne Poetry',
 'Expensive Pain',
 'Knowing You',
 'Memory',
 'On My Soul',
 'Thot Shit',
 "Drinkin' Beer. Talkin' God. Amen.",
 'Blue Note$ II',
 'Volvi',
 'Todo de Ti',
 'Jugaste y Sufri',
 'Outside (100 MPH)',
 'Same Boat',
 'Last One Standing',
 'In The Bible',
 'Chosen',
 'Bad Morning',
 'Yonaguni',
 'The Feels',
 'Summer Of Love',
 'Get Into It (Yuh)',
 'Nevada',
 'Waves',
 'Life Support',
 'Me (FWM)',
 'Love Train',
 'Feelin Like Tunechi',
 'One Mississippi',
 'Ghost',
 'Sand In My Boots',
 'Ride For You',
 'Esta Danada',
 'Whiskey And Rain',
 'TSU',
 'Love All',
 'No Where']

In [32]:
len(Song)

100

In [33]:
artist = browser("//span[@class = 'chart-element__information__artist text--truncate color--secondary']")
Artist = []
for i in artist:
    Artist.append(i.text)
Artist

['The Kid LAROI & Justin Bieber',
 'Lil Nas X & Jack Harlow',
 'Walker Hayes',
 'Drake Featuring Future & Young Thug',
 'Ed Sheeran',
 'Olivia Rodrigo',
 'Doja Cat Featuring SZA',
 'Dua Lipa',
 'Drake Featuring 21 Savage & Project Pat',
 'Wizkid Featuring Justin Bieber & Tems',
 'Ed Sheeran',
 'Coldplay x BTS',
 'Doja Cat',
 'The Weeknd & Ariana Grande',
 'Glass Animals',
 'Maneskin',
 'Lil Nas X',
 'Doja Cat & The Weeknd',
 'Jason Aldean & Carrie Underwood',
 'Drake Featuring Lil Baby',
 'Olivia Rodrigo',
 'The Weeknd',
 'Meek Mill Featuring Lil Baby & Lil Durk',
 'Ryan Hurd With Maren Morris',
 'Farruko',
 'Lil Nas X',
 'Moneybagg Yo',
 'Jameson Rodgers Featuring Luke Combs',
 'Billie Eilish',
 'Drake Featuring Travis Scott',
 'Olivia Rodrigo',
 'Elton John & Dua Lipa',
 'Lee Brice',
 'Tai Verdes',
 'CKay',
 'Meek Mill',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Capella Grey',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Marshmello X Jonas Brothers',
 'Dua Lipa',
 'Elvie Shane',
 'Jordan Davis Featuring Luke Bryan',
 'Kanye West',
 'Old Dominion',
 'Baby Keem & Kendrick Lamar',
 'THE ANXIETY: WILLOW & Tyler Cole',
 'Normani Featuring Cardi B',
 'Roddy Ricch',
 'Chloe',
 'Chris Stapleton',
 'BIA Featuring Nicki Minaj',
 'Luke Combs',
 'Scotty McCreery',
 'Elle King & Miranda Lambert',
 'Yung Bleu, Chris Brown & 2 Chainz',
 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter',
 'BTS',
 'Gunna & Future',
 'Meek Mill Featuring Moneybagg Yo',
 'Joyner Lucas & J. Cole',
 'Doja Cat',
 'Sleepy Hallow',
 'Drake',
 'Drake',
 'Meek Mill',
 'Kenny Chesney',
 'Kane Brown X blackbear',
 'Meek Mill',
 'Megan Thee Stallion',
 'Chase Rice Featuring Florida Georgia Line',
 'Meek Mill Featuring Lil Uzi Vert',
 'Aventura x Bad Bunny',
 'Rauw Alejandro',
 'Eslabon Armado Featuring DannyLux',
 'Meek Mill',
 'Zac Brown Band',
 'Skylar Grey, Polo G, Mozzy & Eminem',
 'Drake Featuring Lil Durk & Giveon',
 'Blxst & Tyga Featuring Ty Dolla $ign',
 'YoungBoy Never Broke Again',
 'Bad Bunny',
 'TWICE',
 'Shawn Mendes & Tainy',
 'Doja Cat',
 'YoungBoy Never Broke Again',
 'Luke Bryan',
 'YoungBoy Never Broke Again',
 'Meek Mill Featuring A$AP Ferg',
 'Meek Mill',
 'Lil Wayne Featuring Rich The Kid',
 'Kane Brown',
 'Justin Bieber',
 'Morgan Wallen',
 'Meek Mill Featuring Kehlani',
 'Ivan Cornejo',
 'Michael Ray',
 'Drake',
 'Drake Featuring JAY-Z',
 'YoungBoy Never Broke Again']

In [34]:
len(Artist)

100

In [35]:
rank = browser("//div[@class ='chart-element__meta text--center color--secondary text--last']")
Rank = []
for i in rank:
    Rank.append(i.text)
Rank

['2',
 '3',
 '5',
 '4',
 '6',
 '7',
 '8',
 '10',
 '9',
 '11',
 '14',
 '1',
 '16',
 '12',
 '15',
 '19',
 '13',
 '18',
 '21',
 '17',
 '25',
 '22',
 '71',
 '27',
 '29',
 '24',
 '20',
 '26',
 '31',
 '23',
 '30',
 '46',
 '43',
 '35',
 '50',
 '-',
 '33',
 '64',
 '41',
 '39',
 '57',
 '66',
 '55',
 '34',
 '49',
 '42',
 '47',
 '51',
 '44',
 '56',
 '81',
 '52',
 '65',
 '63',
 '68',
 '77',
 '76',
 '36',
 '38',
 '-',
 '32',
 '75',
 '78',
 '60',
 '54',
 '-',
 '90',
 '79',
 '-',
 '73',
 '82',
 '-',
 '85',
 '86',
 '-',
 '-',
 '95',
 '-',
 '72',
 '98',
 '28',
 '89',
 '-',
 '93',
 '94',
 '58',
 '70',
 '48',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '84',
 '87',
 '40']

In [36]:
len(Rank)

100

In [37]:
peak = browser("//div[@class ='chart-element__meta text--center color--secondary text--peak']")
Peak = []
for i in peak:
    Peak.append(i.text)
Peak

['1',
 '2',
 '3',
 '1',
 '2',
 '1',
 '3',
 '2',
 '4',
 '10',
 '11',
 '1',
 '13',
 '1',
 '15',
 '16',
 '1',
 '11',
 '15',
 '2',
 '9',
 '6',
 '22',
 '24',
 '25',
 '10',
 '20',
 '26',
 '11',
 '3',
 '3',
 '32',
 '33',
 '34',
 '35',
 '36',
 '1',
 '38',
 '1',
 '19',
 '41',
 '42',
 '43',
 '6',
 '45',
 '18',
 '44',
 '14',
 '20',
 '28',
 '51',
 '16',
 '53',
 '50',
 '53',
 '56',
 '57',
 '1',
 '38',
 '60',
 '32',
 '62',
 '51',
 '11',
 '4',
 '66',
 '67',
 '50',
 '69',
 '16',
 '24',
 '72',
 '22',
 '32',
 '75',
 '76',
 '77',
 '78',
 '7',
 '80',
 '28',
 '10',
 '83',
 '48',
 '68',
 '58',
 '24',
 '48',
 '89',
 '90',
 '91',
 '73',
 '66',
 '32',
 '95',
 '96',
 '97',
 '9',
 '10',
 '40']

In [38]:
len(Peak)

100

In [39]:
charts = browser("//div[@class ='chart-element__meta text--center color--secondary text--week']")
Charts =[]
for i in charts:
    Charts.append(i.text)
Charts

['13',
 '11',
 '16',
 '5',
 '15',
 '21',
 '26',
 '53',
 '5',
 '14',
 '4',
 '2',
 '17',
 '43',
 '38',
 '15',
 '28',
 '15',
 '11',
 '5',
 '20',
 '9',
 '6',
 '23',
 '11',
 '3',
 '24',
 '14',
 '10',
 '5',
 '27',
 '5',
 '11',
 '14',
 '3',
 '1',
 '31',
 '10',
 '29',
 '20',
 '12',
 '15',
 '9',
 '6',
 '14',
 '6',
 '4',
 '12',
 '18',
 '4',
 '14',
 '13',
 '10',
 '10',
 '24',
 '10',
 '8',
 '20',
 '2',
 '1',
 '2',
 '10',
 '12',
 '5',
 '5',
 '1',
 '8',
 '13',
 '1',
 '17',
 '19',
 '2',
 '10',
 '19',
 '1',
 '1',
 '3',
 '1',
 '5',
 '2',
 '2',
 '18',
 '1',
 '7',
 '9',
 '2',
 '16',
 '4',
 '1',
 '1',
 '1',
 '2',
 '2',
 '12',
 '1',
 '1',
 '1',
 '5',
 '5',
 '2']

In [40]:
len(Charts)

100

In [41]:
billboard = pd.DataFrame({})
billboard['Song'] = Song
billboard['Artist'] = Artist
billboard['Rank'] = Rank
billboard['Peak'] = Peak
billboard['Charts'] = Charts
billboard

                Song                               Artist Rank Peak Charts
0               Stay        The Kid LAROI & Justin Bieber    2    1     13
1      Industry Baby              Lil Nas X & Jack Harlow    3    2     11
2         Fancy Like                         Walker Hayes    5    3     16
3         Way 2 Sexy  Drake Featuring Future & Young Thug    4    1      5
4         Bad Habits                           Ed Sheeran    6    2     15
..               ...                                  ...  ...  ...    ...
95       Esta Danada                         Ivan Cornejo    -   96      1
96  Whiskey And Rain                          Michael Ray    -   97      1
97               TSU                                Drake   84    9      5
98          Love All                Drake Featuring JAY-Z   87   10      5
99          No Where           YoungBoy Never Broke Again   40   40      2

[100 rows x 5 columns]

# 7. Scrape the details of Data science recruiters from naukri.com.Url = https://www.naukri.com/

In [43]:
url = ("https://www.naukri.com/")
driver.get(url)

In [47]:
search = driver.find_element_by_xpath("//input[@class ='sugInp']")
search.send_keys('Data Science')

In [49]:
button = driver.find_element_by_xpath("//button[@class = 'btn']")
button.click()

In [50]:
name = browser("//a[@class = 'subTitle ellipsis fleft']")
Name =[]
for i in name:
    Name.append(i.text)
Name

['Inflexion Analytix Private Limited',
 'Tiger Analytics India LLP',
 'Data Trained Education',
 'Tata Consultancy Services Ltd.',
 'Info Edge',
 'AUTOMOTIVE ROBOTICS (INDIA) PRIVATE LIMITED',
 'Tredence Analytics Solutions Private Limited',
 'Synergistic Compusoft Private Limited',
 'Accenture Solutions Pvt Ltd',
 'Accenture Solutions Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'RANDSTAD INDIA PVT LTD',
 'Step Next Private Limited',
 'IBM India Pvt. Limited',
 'Resilient Innovations Private Limited',
 'Accenture Solutions Pvt Ltd',
 'Accenture Solutions Pvt Ltd',
 'Accenture Solutions Pvt Ltd',
 'Accenture Solutions Pvt Ltd']

In [51]:
len(Name)

20

In [52]:
designation = browser("//a[@class = 'title fw500 ellipsis']")
Designation =[]
for i in designation:
    Designation.append(i.text)
Designation

['Data Science / Business Analyst - Big Data Engineer',
 'Senior Analyst - Data Science',
 'Data Science (Using ML with Python) Intern - DataTrained',
 'Tcs Hiring For Data Science Developer - PAN India',
 'Naukri is hiring Content Specialist-Data Science/Technology/Management',
 'Data Analysis/Data Science',
 'Hiring Data Science professionals For Tredence!',
 'Hiring Data Science/Machine Learning Trainer-Part-time/Full time',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 09',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 09',
 'Software Development Engineer III - Data Sciences',
 'Software Development Engineer II - Data Sciences',
 'Business Intelligence Analyst with Data Science-Bangalore Location-C2H',
 'Senior Data Analyst(Data Science) - 2 & PRO/Marketing Executives - 4',
 'Data Science',
 'Urgent Hiring | Data Science Engineer | BharatPe',
 'ACN - Applied Intelligence - CC - Data Science',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 10',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 10',
 'ACN - Applied Intelligence - CC - Data Science (IN) - 10']

In [53]:
len(Designation)

20

In [54]:
skills  = browser("//ul[@class ='tags has-description']")
Skills =[]
for i in skills:
    Skills.append(i.text)
Skills

['IT Skills\nPython\nData Science\nMachine Learning\nArtificial Intelligence\nCloud\nBig Data\nBusiness Intelligence',
 'verbal communication\nwritten\nR\npython\nIT Skills\nData Science\nMachine Learning\nArtificial Intelligence',
 'Data Science\nR\nTableau\nMachine Learning\nDeep Learning',
 'Data Science\nMachine Learning\nPython\nnltk\nPower BI\nstatistical modeling\npandas\nTableau',
 'Data Science\nTechnology Management\nContent Creation\nTechnology\nSubject Matter Expertise\nComputer Science\nContent Writing\nTechnical Writing',
 'Power Bi\nData Analysis\nTableau\nSQL Scripting\nPython',
 'Data Science\nPython\nSQL\nNltk\nNatural Language Processing\nNeural Networks\nMachine Learning',
 'Data Science\nTrainer\nMachine Learning\ncommunication\nPython\nNLP\nJava\nTableau',
 'requirements gathering\nanalytical\nIT Skills\nData Science\nComputer science\nVersion control\nGIT\nSAS',
 'Computer science\nVersion control\nGIT\nSAS\nConsulting\nMachine learning\nApplication development\nManager Quality Control',
 'Supply chain\nData analysis\nLinux\nCoding\nMySQL\nMachine learning\nMentor\nData structures',
 'Supply chain\nData analysis\nSoftware design\nSoftware Development Engineer II\nCoding\nMachine learning\nData structures\nDistribution system',
 'Business Intelligence\nDW/BI\nHadoop\nBig Data\nSQL\nData Science\nPresto\nHive',
 'Data Science\nMachine Learning\nPython\nIT Skills\nArtificial Intelligence\nProject Management\nTableau\nPower BI',
 'IT Skills\nPython\nCloud\nAWS\nTableau\nPower BI\nAzure\nArchitecture',
 'Data Science',
 'Computer science\nAnalytical\nConsulting\nMachine learning\nResourcing\nApplication development\nManager Quality Control\nFMCG',
 'IT Skills\nPython\nMachine Learning\nCloud\nAWS\nTableau\nPower BI\nMatplotlib',
 'IT Skills\nPython\nMachine Learning\nCloud\nAWS\nTableau\nPower BI\nMatplotlib',
 'analytical\nComputer science\nData analysis\nVersion control\nGIT\nData modeling\nCoding\nConsulting']

In [55]:
len(Skills)

20

In [59]:
location = browser("//li[@class ='fleft grey-text br2 placeHolderLi location']")
Location =[]
for i in location:
    Location.append(i.text)
Location

['Hyderabad/Secunderabad, Chennai',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Remote',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Delhi / NCR',
 'Chennai',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Hyderabad/Secunderabad(Jubilee Hills)',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [60]:
len(Location)

20

In [61]:
naukri = pd.DataFrame({})
naukri['Name'] = Name
naukri['Designation'] = Designation
naukri['Skills'] = Skills
naukri['Location'] = Location

naukri

,Name,Designation,Skills,Location
0,Inflexion Analytix Private Limited,Data Science / Business Analyst - Big Data Eng...,IT Skills\nPython\nData Science\nMachine Learn...,"Hyderabad/Secunderabad, Chennai"
1,Tiger Analytics India LLP,Senior Analyst - Data Science,verbal communication\nwritten\nR\npython\nIT S...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Data Trained Education,Data Science (Using ML with Python) Intern - D...,Data Science\nR\nTableau\nMachine Learning\nDe...,Remote
3,Tata Consultancy Services Ltd.,Tcs Hiring For Data Science Developer - PAN India,Data Science\nMachine Learning\nPython\nnltk\n...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,Info Edge,Naukri is hiring Content Specialist-Data Scien...,Data Science\nTechnology Management\nContent C...,Delhi / NCR
5,AUTOMOTIVE ROBOTICS (INDIA) PRIVATE LIMITED,Data Analysis/Data Science,Power Bi\nData Analysis\nTableau\nSQL Scriptin...,Chennai
6,Tredence Analytics Solutions Private Limited,Hiring Data Science professionals For Tredence!,Data Science\nPython\nSQL\nNltk\nNatural Langu...,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
7,Synergistic Compusoft Private Limited,Hiring Data Science/Machine Learning Trainer-P...,Data Science\nTrainer\nMachine Learning\ncommu...,"Noida, Bangalore/Bengaluru, Delhi / NCR"
8,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science...,requirements gathering\nanalytical\nIT Skills\...,Gurgaon/Gurugram
9,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science...,Computer science\nVersion control\nGIT\nSAS\nC...,Gurgaon/Gurugram
10,Flipkart Internet Private Limited,Software Development Engineer III - Data Sciences,Supply chain\nData analysis\nLinux\nCoding\nMy...,Bangalore/Bengaluru
11,Flipkart Internet Private Limited,Software Development Engineer II - Data Sciences,Supply chain\nData analysis\nSoftware design\n...,Bangalore/Bengaluru
12,RANDSTAD INDIA PVT LTD,Business Intelligence Analyst with Data Scienc...,Business Intelligence\nDW/BI\nHadoop\nBig Data...,Bangalore/Bengaluru\n(WFH during Covid)
13,Step Next Private Limited,Senior Data Analyst(Data Science) - 2 & PRO/Ma...,Data Science\nMachine Learning\nPython\nIT Ski...,Hyderabad/Secunderabad(Jubilee Hills)
14,IBM India Pvt. Limited,Data Science,IT Skills\nPython\nCloud\nAWS\nTableau\nPower ...,Gurgaon/Gurugram
15,Resilient Innovations Private Limited,Urgent Hiring | Data Science Engineer | BharatPe,Data Science,New Delhi
16,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science,Computer science\nAnalytical\nConsulting\nMach...,Gurgaon/Gurugram
17,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science...,IT Skills\nPython\nMachine Learning\nCloud\nAW...,Gurgaon/Gurugram
18,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science...,IT Skills\nPython\nMachine Learning\nCloud\nAW...,Gurgaon/Gurugram
19,Accenture Solutions Pvt Ltd,ACN - Applied Intelligence - CC - Data Science...,analytical\nComputer science\nData analysis\nV...,Gurgaon/Gurugram

# 8. Scrape the details of Highest selling novels.Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [63]:
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)

In [67]:
book = browser("//tr[@class = 'odd']")
Book =[]
for i in book:
    Book.append(i.text)
Book

["2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
 "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
 "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
 "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
 "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
 '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
 '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
 '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
 '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
 '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
 '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
 '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
 '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
 '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
 '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
 "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
 "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
 "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
 '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
 '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
 "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
 '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
 '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
 '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
 "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
 '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
 '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
 '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
 '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
 "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
 '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
 '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
 '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
 '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
 '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
 '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
 '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
 '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
 '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
 '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
 '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
 '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
 "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
 '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
 '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
 '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
 '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
 '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
 '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
 "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]

In [68]:
len(Book)

50

In [69]:
author = browser("//tr[@class ='odd']")
Author =[]
for i in author:
    Author.append(i.text)
Author

["2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
 "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
 "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
 "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
 "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
 '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
 '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
 '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
 '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
 '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
 '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
 '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
 '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
 '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
 '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
 "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
 "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
 "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
 '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
 '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
 "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
 '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
 '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
 '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
 "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
 '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
 '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
 '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
 '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
 "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
 '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
 '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
 '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
 '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
 '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
 '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
 '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
 '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
 '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
 '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
 '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
 '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
 "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
 '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
 '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
 '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
 '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
 '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
 '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
 "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]

In [70]:
novels = pd.DataFrame({})
novels['Book_Name'] = Book
novels['Author_Name'] = Author
novels

,Book_Name,Author_Name
0,2 Harry Potter and the Deathly Hallows Rowling...,2 Harry Potter and the Deathly Hallows Rowling...
1,4 Harry Potter and the Order of the Phoenix Ro...,4 Harry Potter and the Order of the Phoenix Ro...
2,"6 Harry Potter and the Goblet of Fire Rowling,...","6 Harry Potter and the Goblet of Fire Rowling,..."
3,8 Harry Potter and the Prisoner of Azkaban Row...,8 Harry Potter and the Prisoner of Azkaban Row...
4,10 Harry Potter and the Half-blood Prince:Chil...,10 Harry Potter and the Half-blood Prince:Chil...
5,"12 Twilight Meyer, Stephenie 2,315,405 Little,...","12 Twilight Meyer, Stephenie 2,315,405 Little,..."
6,"14 Fifty Shades Freed James, E. L. 2,193,928 R...","14 Fifty Shades Freed James, E. L. 2,193,928 R..."
7,"16 New Moon Meyer, Stephenie 2,152,737 Little,...","16 New Moon Meyer, Stephenie 2,152,737 Little,..."
8,"18 Eclipse Meyer, Stephenie 2,052,876 Little, ...","18 Eclipse Meyer, Stephenie 2,052,876 Little, ..."
9,20 Curious Incident of the Dog in the Night-ti...,20 Curious Incident of the Dog in the Night-ti...
10,"22 Short History of Nearly Everything,A Bryson...","22 Short History of Nearly Everything,A Bryson..."
11,"24 Breaking Dawn Meyer, Stephenie 1,787,118 Li...","24 Breaking Dawn Meyer, Stephenie 1,787,118 Li..."
12,"26 Gruffalo,The Donaldson, Julia 1,781,269 Pan...","26 Gruffalo,The Donaldson, Julia 1,781,269 Pan..."
13,"28 Kite Runner,The Hosseini, Khaled 1,629,119 ...","28 Kite Runner,The Hosseini, Khaled 1,629,119 ..."
14,"30 Thousand Splendid Suns,A Hosseini, Khaled 1...","30 Thousand Splendid Suns,A Hosseini, Khaled 1..."
15,"32 Time Traveler's Wife,The Niffenegger, Audre...","32 Time Traveler's Wife,The Niffenegger, Audre..."
16,"34 Bridget Jones's Diary:A Novel Fielding, Hel...","34 Bridget Jones's Diary:A Novel Fielding, Hel..."
17,"36 Captain Corelli's Mandolin Bernieres, Louis...","36 Captain Corelli's Mandolin Bernieres, Louis..."
18,"38 Life of Pi Martel, Yann 1,310,176 Canongate...","38 Life of Pi Martel, Yann 1,310,176 Canongate..."
19,"40 Child Called It,A Pelzer, Dave 1,217,712 Or...","40 Child Called It,A Pelzer, Dave 1,217,712 Or..."
20,42 Angela's Ashes:A Memoir of a Childhood McCo...,42 Angela's Ashes:A Memoir of a Childhood McCo...
21,44 Northern Lights:His Dark Materials S. Pullm...,44 Northern Lights:His Dark Materials S. Pullm...
22,46 Harry Potter and the Half-blood Prince Rowl...,46 Harry Potter and the Half-blood Prince Rowl...
23,"48 Man and Boy Parsons, Tony 1,130,802 HarperC...","48 Man and Boy Parsons, Tony 1,130,802 HarperC..."
24,"50 No.1 Ladies' Detective Agency,The:No.1 Ladi...","50 No.1 Ladies' Detective Agency,The:No.1 Ladi..."
25,"52 PS, I Love You Ahern, Cecelia 1,107,379 Har...","52 PS, I Love You Ahern, Cecelia 1,107,379 Har..."
26,"54 Shadow of the Wind,The Zafon, Carlos Ruiz 1...","54 Shadow of the Wind,The Zafon, Carlos Ruiz 1..."
27,"56 Broker,The Grisham, John 1,087,262 Random H...","56 Broker,The Grisham, John 1,087,262 Random H..."
28,"58 Subtle Knife,The:His Dark Materials S. Pull...","58 Subtle Knife,The:His Dark Materials S. Pull..."
29,"60 Delia's How to Cook:(Bk.1) Smith, Delia 1,0...","60 Delia's How to Cook:(Bk.1) Smith, Delia 1,0..."
30,"62 Boy in the Striped Pyjamas,The Boyne, John ...","62 Boy in the Striped Pyjamas,The Boyne, John ..."
31,"64 Amber Spyglass,The:His Dark Materials S. Pu...","64 Amber Spyglass,The:His Dark Materials S. Pu..."
32,"66 Men are from Mars, Women are from Venus:A P...","66 Men are from Mars, Women are from Venus:A P..."
33,"68 Short History of Tractors in Ukrainian,A Le...","68 Short History of Tractors in Ukrainian,A Le..."
34,"70 Lord of the Rings,The Tolkien, J. R. R. 967...","70 Lord of the Rings,The Tolkien, J. R. R. 967..."
35,"72 Interpretation of Murder,The Rubenfeld, Jed...","72 Interpretation of Murder,The Rubenfeld, Jed..."
36,"74 Alchemist,The:A Fable About Following Your ...","74 Alchemist,The:A Fable About Following Your ..."
37,"76 Notes from a Small Island Bryson, Bill 931,...","76 Notes from a Small Island Bryson, Bill 931,..."
38,"78 Bridget Jones: The Edge of Reason Fielding,...","78 Bridget Jones: The Edge of Reason Fielding,..."
39,"80 I Can Make You Thin McKenna, Paul 905,086 T...","80 I Can Make You Thin McKenna, Paul 905,086 T..."
40,"82 Summons,The Grisham, John 869,671 Random Ho...","82 Summons,The Grisham, John 869,671 Random Ho..."
41,"84 Nigella Express Lawson, Nigella 862,602 Ran...","84 Nigella Express Lawson, Nigella 862,602 Ran..."
42,"86 Memory Keeper's Daughter,The Edwards, Kim 8...","86 Memory Keeper's Daughter,The Edwards, Kim 8..."
43,"88 About a Boy Hornby, Nick 828,215 Penguin Ge...","88 About a Boy Hornby, Nick 828,215 Penguin Ge..."
44,"90 God Delusion,The Dawkins, Richard 816,907 T...","90 God Delusion,The Dawkins, Richard 816,907 T..."
45,"92 White Teeth Smith, Zadie 815,586 Penguin Ge...","92 White Teeth Smith, Zadie 815,586 Penguin Ge..."
46,"94 Book Thief,The Zusak, Markus 809,641 Transw...","94 Book Thief,The Zusak, Markus 809,641 Transw..."
47,"96 Ghost,The Harris, Robert 807,311 Random Hou...","96 Ghost,The Harris, Robert 807,311 Random Hou..."
48,"98 Hunger Games,The:Hunger Games Trilogy Colli...","98 Hunger Games,The:Hunger Games Trilogy Colli..."
49,100 Jamie's Ministry of Food:Anyone Can Learn ...,100 Jamie's Ministry of Food:Anyone Can Learn ...

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

In [71]:
url =("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [72]:
name = browser("//h3[@class ='lister-item-header']")
Name =[]
for i in name:
    Name.append(i.text)
Name

['1. Game of Thrones (2011â€“2019)',
 '2. Stranger Things (2016â€“ )',
 '3. The Walking Dead (2010â€“2022)',
 '4. 13 Reasons Why (2017â€“2020)',
 '5. The 100 (2014â€“2020)',
 '6. Orange Is the New Black (2013â€“2019)',
 '7. Riverdale (2017â€“ )',
 "8. Grey's Anatomy (2005â€“ )",
 '9. The Flash (2014â€“ )',
 '10. Arrow (2012â€“2020)',
 '11. Money Heist (2017â€“2021)',
 '12. The Big Bang Theory (2007â€“2019)',
 '13. Black Mirror (2011â€“ )',
 '14. Sherlock (2010â€“2017)',
 '15. Vikings (2013â€“2020)',
 '16. Pretty Little Liars (2010â€“2017)',
 '17. The Vampire Diaries (2009â€“2017)',
 '18. American Horror Story (2011â€“ )',
 '19. Breaking Bad (2008â€“2013)',
 '20. Lucifer (2016â€“2021)',
 '21. Supernatural (2005â€“2020)',
 '22. Prison Break (2005â€“2017)',
 '23. How to Get Away with Murder (2014â€“2020)',
 '24. Teen Wolf (2011â€“2017)',
 '25. The Simpsons (1989â€“ )',
 '26. Once Upon a Time (2011â€“2018)',
 '27. Narcos (2015â€“2017)',
 '28. Daredevil (2015â€“2018)',
 '29. Friends (1994â€“2004)',
 '30. How I Met Your Mother (2005â€“2014)',
 '31. Suits (2011â€“2019)',
 '32. Mr. Robot (2015â€“2019)',
 '33. The Originals (2013â€“2018)',
 '34. Supergirl (2015â€“2021)',
 '35. Gossip Girl (2007â€“2012)',
 '36. Sense8 (2015â€“2018)',
 '37. Gotham (2014â€“2019)',
 '38. Westworld (2016â€“ )',
 '39. Jessica Jones (2015â€“2019)',
 '40. Modern Family (2009â€“2020)',
 '41. Rick and Morty (2013â€“ )',
 '42. Shadowhunters (2016â€“2019)',
 '43. The End of the F***ing World (2017â€“2019)',
 '44. House of Cards (2013â€“2018)',
 '45. Dark (2017â€“2020)',
 '46. Elite (2018â€“ )',
 '47. Sex Education (2019â€“ )',
 '48. Shameless (2011â€“2021)',
 '49. New Girl (2011â€“2018)',
 '50. Agents of S.H.I.E.L.D. (2013â€“2020)',
 '51. You (2018â€“ )',
 '52. Dexter (2006â€“2013)',
 '53. Fear the Walking Dead (2015â€“ )',
 '54. Family Guy (1999â€“ )',
 '55. The Blacklist (2013â€“ )',
 '56. Lost (2004â€“2010)',
 '57. Peaky Blinders (2014â€“ )',
 '58. House (2004â€“2012)',
 '59. Quantico (2015â€“2018)',
 '60. Orphan Black (2013â€“2017)',
 '61. Homeland (2011â€“2020)',
 '62. Blindspot (2015â€“2020)',
 "63. DC's Legends of Tomorrow (2016â€“ )",
 "64. The Handmaid's Tale (2017â€“ )",
 '65. Chilling Adventures of Sabrina (2018â€“2020)',
 '66. The Good Doctor (2017â€“ )',
 '67. Jane the Virgin (2014â€“2019)',
 '68. Glee (2009â€“2015)',
 '69. South Park (1997â€“ )',
 '70. Brooklyn Nine-Nine (2013â€“2021)',
 '71. Under the Dome (2013â€“2015)',
 '72. The Umbrella Academy (2019â€“ )',
 '73. True Detective (2014â€“2019)',
 '74. The OA (2016â€“2019)',
 '75. Desperate Housewives (2004â€“ )',
 '76. Better Call Saul (2015â€“2022)',
 '77. Bates Motel (2013â€“2017)',
 '78. The Punisher (2017â€“2019)',
 '79. Atypical (2017â€“2021)',
 '80. Dynasty (2017â€“ )',
 '81. This Is Us (2016â€“2022)',
 '82. The Good Place (2016â€“2020)',
 '83. Iron Fist (2017â€“2018)',
 '84. The Rain (2018â€“2020)',
 '85. Mindhunter (2017â€“2019)',
 '86. Revenge (2011â€“2015)',
 '87. Luke Cage (2016â€“2018)',
 '88. Scandal (2012â€“2018)',
 '89. The Defenders (2017)',
 '90. Big Little Lies (2017â€“2019)',
 '91. Insatiable (2018â€“2019)',
 '92. The Mentalist (2008â€“2015)',
 '93. The Crown (2016â€“ )',
 '94. Chernobyl (2019)',
 '95. iZombie (2015â€“2019)',
 '96. Reign (2013â€“2017)',
 '97. A Series of Unfortunate Events (2017â€“2019)',
 '98. Criminal Minds (2005â€“2020)',
 '99. Scream: The TV Series (2015â€“2019)',
 '100. The Haunting of Hill House (2018)']

In [73]:
len(Name)

100

In [74]:
year = browser("//span[@class ='lister-item-year text-muted unbold']")
Year =[]
for i in year:
    Year.append(i.text)
Year

['(2011â€“2019)',
 '(2016â€“ )',
 '(2010â€“2022)',
 '(2017â€“2020)',
 '(2014â€“2020)',
 '(2013â€“2019)',
 '(2017â€“ )',
 '(2005â€“ )',
 '(2014â€“ )',
 '(2012â€“2020)',
 '(2017â€“2021)',
 '(2007â€“2019)',
 '(2011â€“ )',
 '(2010â€“2017)',
 '(2013â€“2020)',
 '(2010â€“2017)',
 '(2009â€“2017)',
 '(2011â€“ )',
 '(2008â€“2013)',
 '(2016â€“2021)',
 '(2005â€“2020)',
 '(2005â€“2017)',
 '(2014â€“2020)',
 '(2011â€“2017)',
 '(1989â€“ )',
 '(2011â€“2018)',
 '(2015â€“2017)',
 '(2015â€“2018)',
 '(1994â€“2004)',
 '(2005â€“2014)',
 '(2011â€“2019)',
 '(2015â€“2019)',
 '(2013â€“2018)',
 '(2015â€“2021)',
 '(2007â€“2012)',
 '(2015â€“2018)',
 '(2014â€“2019)',
 '(2016â€“ )',
 '(2015â€“2019)',
 '(2009â€“2020)',
 '(2013â€“ )',
 '(2016â€“2019)',
 '(2017â€“2019)',
 '(2013â€“2018)',
 '(2017â€“2020)',
 '(2018â€“ )',
 '(2019â€“ )',
 '(2011â€“2021)',
 '(2011â€“2018)',
 '(2013â€“2020)',
 '(2018â€“ )',
 '(2006â€“2013)',
 '(2015â€“ )',
 '(1999â€“ )',
 '(2013â€“ )',
 '(2004â€“2010)',
 '(2014â€“ )',
 '(2004â€“2012)',
 '(2015â€“2018)',
 '(2013â€“2017)',
 '(2011â€“2020)',
 '(2015â€“2020)',
 '(2016â€“ )',
 '(2017â€“ )',
 '(2018â€“2020)',
 '(2017â€“ )',
 '(2014â€“2019)',
 '(2009â€“2015)',
 '(1997â€“ )',
 '(2013â€“2021)',
 '(2013â€“2015)',
 '(2019â€“ )',
 '(2014â€“2019)',
 '(2016â€“2019)',
 '(2004â€“ )',
 '(2015â€“2022)',
 '(2013â€“2017)',
 '(2017â€“2019)',
 '(2017â€“2021)',
 '(2017â€“ )',
 '(2016â€“2022)',
 '(2016â€“2020)',
 '(2017â€“2018)',
 '(2018â€“2020)',
 '(2017â€“2019)',
 '(2011â€“2015)',
 '(2016â€“2018)',
 '(2012â€“2018)',
 '(2017)',
 '(2017â€“2019)',
 '(2018â€“2019)',
 '(2008â€“2015)',
 '(2016â€“ )',
 '(2019)',
 '(2015â€“2019)',
 '(2013â€“2017)',
 '(2017â€“2019)',
 '(2005â€“2020)',
 '(2015â€“2019)',
 '(2018)']

In [75]:
len(Year)

100

In [76]:
genre = browser("//span[@class ='genre']")
Genre =[]
for i in genre:
    Genre.append(i.text)
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [77]:
len(Genre)

100

In [78]:
runtime = browser("//span[@class ='runtime']")
Runtime = []
for i in runtime:
    Runtime.append(i.text)
Runtime

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [79]:
len(Runtime)

100

In [83]:
ratings = browser("//div[@class ='ipl-rating-star small']")
Rating = []
for i in ratings:
    Rating.append(i.text)
Rating

['9.2',
 '8.7',
 '8.2',
 '7.5',
 '7.6',
 '8',
 '6.7',
 '7.5',
 '7.6',
 '7.5',
 '8.2',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.4',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.8',
 '8.3',
 '8.4',
 '8.5',
 '8.2',
 '6.2',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.5',
 '8.3',
 '8.5',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.1',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '8.9',
 '7.8',
 '7.5',
 '8.8',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.6',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [84]:
len(Rating)

100

In [87]:
votes = browser("//span[@name ='nv']")
Vote = []
for i in votes:
    Vote.append(i.text)
Vote

['1,883,467',
 '916,741',
 '905,003',
 '271,047',
 '231,410',
 '287,456',
 '130,245',
 '274,315',
 '325,349',
 '418,002',
 '391,498',
 '753,076',
 '481,154',
 '852,764',
 '472,032',
 '157,824',
 '298,108',
 '295,484',
 '1,590,840',
 '287,568',
 '410,742',
 '499,410',
 '139,240',
 '135,978',
 '381,269',
 '214,739',
 '382,977',
 '381,600',
 '902,635',
 '634,339',
 '380,071',
 '353,575',
 '125,019',
 '117,455',
 '162,404',
 '146,001',
 '218,783',
 '452,653',
 '200,726',
 '387,411',
 '436,004',
 '57,500',
 '163,605',
 '481,483',
 '324,361',
 '63,551',
 '216,836',
 '216,948',
 '204,733',
 '207,544',
 '168,024',
 '677,659',
 '120,170',
 '316,454',
 '218,944',
 '519,887',
 '414,448',
 '431,849',
 '58,862',
 '105,781',
 '325,947',
 '69,757',
 '97,826',
 '204,027',
 '84,685',
 '78,217',
 '43,380',
 '141,641',
 '344,842',
 '266,109',
 '103,535',
 '182,373',
 '523,782',
 '96,821',
 '121,563',
 '359,002',
 '101,977',
 '200,369',
 '77,012',
 '17,513',
 '119,028',
 '132,831',
 '120,955',
 '33,738',
 '244,033',
 '116,113',
 '121,883',
 '69,766',
 '96,415',
 '174,128',
 '25,074',
 '172,481',
 '175,714',
 '615,796',
 '63,410',
 '45,925',
 '56,793',
 '177,502',
 '36,933',
 '204,284']

In [88]:
len(Vote)

100

In [89]:
imdb = pd.DataFrame({})
imdb['Name'] = Name
imdb['Year_Span'] = Year
imdb['Genre'] = Genre
imdb['Run Time'] = Runtime
imdb['Ratings'] = Rating
imdb['Votes'] = Vote
imdb

,Name,Year_Span,Genre,Run Time,Ratings,Votes
0,1. Game of Thrones (2011â€“2019),(2011â€“2019),"Action, Adventure, Drama",57 min,9.2,"1,883,467"
1,2. Stranger Things (2016â€“ ),(2016â€“ ),"Drama, Fantasy, Horror",51 min,8.7,"916,741"
2,3. The Walking Dead (2010â€“2022),(2010â€“2022),"Drama, Horror, Thriller",44 min,8.2,"905,003"
3,4. 13 Reasons Why (2017â€“2020),(2017â€“2020),"Drama, Mystery, Thriller",60 min,7.5,"271,047"
4,5. The 100 (2014â€“2020),(2014â€“2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,410"
...,...,...,...,...,...,...
95,96. Reign (2013â€“2017),(2013â€“2017),"Drama, Fantasy",42 min,7.5,"45,925"
96,97. A Series of Unfortunate Events (2017â€“2019),(2017â€“2019),"Adventure, Comedy, Drama",50 min,7.8,"56,793"
97,98. Criminal Minds (2005â€“2020),(2005â€“2020),"Crime, Drama, Mystery",42 min,8.1,"177,502"
98,99. Scream: The TV Series (2015â€“2019),(2015â€“2019),"Comedy, Crime, Drama",45 min,7.1,"36,933"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"204,284"

# 10. Details of Datasets from UCI machine learning repositories.Url = https://archive.ics.uci.edu/

In [90]:
url = ("https://archive.ics.uci.edu/")
driver.get(url)